.table__content-panel {
    margin-bottom: 2.2rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.table__content-deleteButton {
    border: none;
    padding: 0.8rem 1.5rem;
    background-color: #FF3333;
    color: var(--primary_color);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0;
    cursor: default;
}

.table__content-deleteButton--active {
    opacity: 1;
    cursor: pointer;
}

.table__content-deleteButton:hover {
    background-color: #f50000;
    transition: background-color .3s;
}

.table__content-cancelButton {
    all: unset;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--light_gray);
    padding: 0.5rem;
    cursor: default;
    transition: background-color .3s;
    opacity: 0;
}

.table__content-cancelButton:hover {
    background-color: var(--neutral);
}

.table__content-cancelButton--active {
    opacity: 1;
    cursor: pointer;
}


.table__content-actionPanel {
    display: flex;
    align-items: center;
    gap: 1.2rem !important;
    width: 100%;
}

.table__content-button {
    border: none;
    all: unset;
    color: var(--secondary_color);
    font-size: 1.6rem;
    font-weight: 300;
    cursor: pointer;
}

.table__content-button:hover {
    color: var(--darken_secondary);
    transition: background-color .3s;
}

@media (min-width: 992px) {
    .table__content-button--view {
        display: none;
    }
}



.table__link {
    color: #1677ff;
}

.table__link:hover {
    color: #0056d0;
}