:root {
  --primary_color: #F8F6F4;
  --secondary_color: #63615E;
  --darken_secondary: #353331;
  --light_gray: rgb(231 229 228);
  --neutral: #EFECEA;
  --black: #262626;
  --white: #FFF;
  --primary_font: 'Outfit', sans-serif;
  --red: rgb(220 38 38);
  --darken_red: rgb(185 28 28);
  --indigo: rgb(79 70 229);
  --darken_indigo: rgb(67 56 202);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--primary_font);
  line-height: 1.5;
  background-color: #F8F6F4;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}


a {
  text-decoration: none;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.table-icon {
  height: 2.4rem;
  width: 2.4rem;
}

@media (min-width: 768px) { 
  .table-icon {
    height: 2.1rem;
    width: 2.1rem;
  }
}

.priority {
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 10rem;
}

.priority--modal {
  margin-top: 0.6rem;
}

.priority-low {
  background-color: #e5e5e5;
  color: #848484;
  border: 1px solid #848484;
}

.priority-medium {
  background-color: #ffd699;
  color: #b36a00;
  border: 1px solid #b36a00;
}

.priority-high {
  background-color: #fbb4af;
  color: #c6180b;
  border: 1px solid #c6180b;
}

main {
  padding: 5rem 0;
}

.mb {
  margin-bottom: 1rem;
}


/********************* SPINNER *********************/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}







